#video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#heroJumbotron {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.8;
    max-width: 500px;
    margin-top: 175px;
    padding: 35px;
}

#hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #fff;
    margin: 1em 0;
    padding: 0;
  }

#title {
    color: #fff;
    font-size: 34px;
}

#subTitle {
    color: #A8A8A8;
    font-size: 28px;
}

#paragraph {
    color: #fff;
    font-size: 20px;
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 575.98px) {

    #title {
        font-size: 26px;
    }

    #subTitle {
        font-size: 22px;
    }

    #paragraph {
        font-size: 18px;
    }
}